@import 'base/variables';
* {
    font-family: MuseoSansCyrl;
    }
.container{
    max-width: 945px;
    margin: 0 auto;
}
@import 'blocks/header';
@import 'blocks/_promo.scss';
@import 'blocks/buttons';
@import 'blocks/_advantage.scss'
    