.advantage{
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 80px 0;
    &__items{
        margin-top: 38px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        text-align: center;
    }
    &__item{
        max-width: 240px;
        img {
            width: 70px;
            height: 70px;
        }
        &-text{
            margin-top: 38px;
            font-size: 18px;
            font-weight: 700;
            color: #0d0d0d;
            span{
                margin-top: 28px;
                display: block;
                font-size: 14px;
                font-weight: 300;
                color: #0d0d0d;
            }
        }
    }
}
@media(max-width:767px){
    .advantage{
        padding: 50px 0 50px 0;
        &__title{
            font-size: 25px;
        }
        &__items{
            margin-top: 30px;
        }
        &__item{
            max-width: 180px;
            img{
                width: 50px;
                height: 50px;
            }
            &-text{
                margin-top: 25px;
                font-size: 15px;
                span{
                    font-size: 11px;
                }
            }
        }
    }
}
@media (max-width: 575px){
    .advantage{
        &__items{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            max-width: 240px;
            margin-top: 25px;
            &:first-of-type{
                margin-top: 0px;
            }
            img{
                width: 60px;
                height: 60px;
            }
            &-text{
                margin-top: 25px;
                font-size: 18px;
                span{
                    font-size: 15px;
                }
            }
        }
    }
}