.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../../img/promo/bg.jpg') center (center/cover) no-repeat;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 91px;
    }
    &__header{
        font-size: 42px;    
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subheader{
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 17px; 
    }
    &__icons{
        margin-top: 67px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 425px;
    }
    &__icon{
        width: 108px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        img{
            display: block;
            width: 44px;
            height: 45px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link{
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        a{
            color: #ffffff;
            text-decoration: underline;
            &:hover{
                text-decoration: underline;
                color: #ffffff;     
            }
        }
    }
}
@media (max-width:991px)
{
    .promo{
        &__wrapper{
            margin: 91px 10px 0 0;
        }
    }
}
@media (max-width:767px)
{
    .promo{
        &__wrapper{
            margin: 61px 10px 0 0;
        }
        &__subheader{
            margin-top: 12px; 
        }
        &__icons{
            margin-top: 50px;
            width: 370px;
        }
        &__icon{
            width: 100px;
            font-size: 12px;
            color: #ffffff;
            img{
                width: 35px;
                height: 35px;
            }
        }
    }
}
@media (max-width: 575px){
    .promo{
        &__wrapper{
            align-items:center;
            margin: 40px 0 0 0;
            text-align: center;
        }
        &__header{
            font-size: 30px;    
        }
        &__subheader{
            font-size: 16px;
            margin-top: 17px; 
        }
    }
}